#include <os2.h>
#include "pmmixer.h"

POINTER ID_MIXER "mixer.ico"
BITMAP ID_BIGMIXER bigmixer.bmp

DLGTEMPLATE IDM_MIXERDLG 
BEGIN
	DIALOG "Sound Blaster Pro Mixer", IDM_MIXERDLG, 7, 5, 200, 118, FS_DLGBORDER | FS_SCREENALIGN | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON
	BEGIN
		AUTORADIOBUTTON "Line", ID_RECORDLINE, 12, 90, 35, 10, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		AUTORADIOBUTTON "Mic", ID_RECORDMIC, 12, 78, 34, 10
		AUTORADIOBUTTON "CD", ID_RECORDCD, 12, 66, 33, 10
		AUTORADIOBUTTON "High", ID_FILTERINHIGH, 64, 90, 28, 10, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE , 0x482E3031L, 0x00766C65L
		AUTORADIOBUTTON "Low", ID_FILTERINLOW, 64, 78, 28, 10
		PRESPARAMS PP_FONTNAMESIZE , 0x482E3031L, 0x00766C65L
		AUTORADIOBUTTON "Off", ID_FILTERINOFF, 64, 66, 28, 10
		PRESPARAMS PP_FONTNAMESIZE , 0x482E3031L, 0x00766C65L
		AUTORADIOBUTTON "On", ID_FILTEROUTON, 96, 78, 28, 10, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE , 0x482E3031L, 0x00766C65L
		AUTORADIOBUTTON "Off", ID_FILTEROUTOFF, 96, 66, 28, 10
		PRESPARAMS PP_FONTNAMESIZE , 0x482E3031L, 0x00766C65L
		AUTOCHECKBOX "Mute", ID_MUTE, 148, 90, 37, 10, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE , 0x482E3031L, 0x00766C65L
		CONTROL "Stereo", ID_STEREO, 148, 78, 40, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		AUTOCHECKBOX "Lock L/R", ID_LOCKVOL, 148, 66, 47, 10, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE , 0x482E3031L, 0x00766C65L
		CONTROL "", ID_VOCLEFT, 8, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_VOCRIGHT, 20, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE2 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_FMLEFT, 40, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_FMRIGHT, 52, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE2 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_LINELEFT, 72, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_LINERIGHT, 84, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE2 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_CDLEFT, 104, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_CDRIGHT, 116, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE2 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_MIC, 136, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 4, 0, 4, 0
		CONTROL "", ID_MASTERLEFT, 164, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CONTROL "", ID_MASTERRIGHT, 176, 4, 15, 48, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE2 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12,0,8,0,8,0
		CTEXT "Master", ID_MASTERTEXT, 164, 52, 29, 8, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x00FF0000L
PRESPARAMS PP_FONTNAMESIZE , 0x65482E38L, 0x0000766CL
		CTEXT "VOC", ID_MASTERTEXT, 12, 51, 19, 8, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , 0x65482E38L, 0x0000766CL
		CTEXT "FM", ID_FMTEXT, 44, 52, 19, 8, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , 0x65482E38L, 0x0000766CL
		CTEXT "Line", ID_LINETEXT, 76, 52, 21, 8, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , 0x65482E38L, 0x0000766CL
		CTEXT "CD", ID_CDTEXT, 112, 52, 13, 8, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , 0x65482E38L, 0x0000766CL
		CTEXT "Mic", ID_MICTEXT, 136, 52, 17, 8, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , 0x65482E38L, 0x0000766CL
		CONTROL "Source", ID_SOURCEBOX, 4, 62, 44, 54, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8."
		CONTROL "Filters", ID_FILTERBOX, 56, 62, 76, 54, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Mixer", ID_MIXERBOX, 140, 62, 56, 54, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Input", ID_INPUTTEXT, 64, 100, 23, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
		CONTROL "Output", ID_OUTPUTTEXT, 96, 100, 29, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	END

END


DLGTEMPLATE ID_ABOUTDLG 
BEGIN
	DIALOG "", ID_ABOUTDLG, 30, 65, 230, 60, WS_VISIBLE
	BEGIN
		CONTROL ID_BIGMIXER, 4200, 5, 20, 1, 1, WC_STATIC, SS_BITMAP | WS_VISIBLE
		CTEXT "PM Mixer V2.0 beta for the SoundBlaster Pro", 4201, 8, 48, 216, 8, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		LTEXT "(C) 1994 Jeroen Hoppenbrouwers", 4203, 68, 16, 156, 8
		DEFPUSHBUTTON "OK", 4204, 15, 3, 30, 12
		LTEXT "Internet: hoppie@kub.nl", 201, 68, 4, 156, 8
		LTEXT "Now with persistent settings!", 202, 68, 32, 156, 8
	END

END
